<%= stylesheet_link_tag "workout_delete.css" %>

<div id="container">
	<div id="info_box">
		<div id="message">
			Are you sure you want to delete the workout called <%= @workout.name %>?
		</div>

		<div id="options">
			<a id="yes" class="button" href="/workouts/destroy?id=<%= @workout.id %>">
				YES
			</a>

			<a id="no" class="button" href="/">
				NO
			</a>
		</div>
	</div>
</div>
