html {
	background: url(../images/blured_weights.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-mos-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
}

#login_form {
	width: 45%;
	height: auto;

	min-width: 427px;

	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 7%;
	padding-top: 1%;

	padding-bottom: 50px;
}

#form_header {
	width: 80%;
	height: 50px;

	margin-bottom: 30px;

	text-align: center;
	font-size: 50px;

	color: rgba(255,255,255,0.5);
}

#form {
	height: auto;
}

#signup_redirect {
	width: 100%;
	height: auto;

	clear: both;
	padding-top: 40px;
}
