body {
	background-color: #F5F5F5;
}

#container {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	max-width: 950px;

	background-color: #F5F5F5;
	
	box-shadow: 2px 2px 5px #888888;
}

/* Styling for the header of the page */
#header {
	width: 100%;
	height: 180px;

	max-width: 950px;

	position: fixed;

	background-color: #EEEEEE;

	box-shadow: 0px 2px 1px #888888;
}

#title {
	width: 100%;
	height: 150px;
}

#home {
	width: 5%;
	height: 100%;
	float: left;
}

#workout_name {
	width: 95%;
	/*height: 100%;*/
	float: left;

	font-size: 50px;
	text-color: rgba(0, 0, 0, 0.8);
}

#column_titles {
	width: 100%;
	height: 31px;

	text-align: center;


	font-weight: bold;
}

/* Excersises div styling */
#excersises {
	width: 100%;
	text-align: center;

	margin-top: 180px;
}

/* The class for the excersise placeholder */
.excersise-placeholder {
	width: 100%;
	height: 100px;

	display: block;

	background-color: #F5F5F5;
}

/* <a> tag sourounding excersise */
.excersise_container {
	width: 100%;
	height : 100px;

	line-height: 100px;
}

/* Excersise container styling */
.excersise {
	width: 100%;
	height: 100px;

	clear: both;

	
}

.excersise_handle {
	width: 10%;
	height: 100%;

	float: left;

	display: block;
}

/* Excersise group styling */
.excersise_group {
	width: 10%;
	height: 100%;

	float: left;
}

/* Excersise name styling */
.excersise_name {
	width: 30%;
	height: 100%;

	float: left;
}

/* Excersise type styling */
.excersise_type {
	width: 20%;
	height: 100%;

	float: left;
}

.excersise_type_select {
	width: 100%;
	height: 100%;
}

/* Excersise diffculty styling */
.excersise_diffculty {
	width: 20%;
	height: 100%;

	float: left;
}

.excersise_diffculty_magnitude {
	width: 50%;
	height: 100%;

	float: left;
}

.excersise_diffculty_units {
	width: 50%;
	height: 100%;

	float: left;
}

/* Excersise sets styling */
.excersise_sets {
	width: 5%;
	height: 100%;
	
	float: left;
}

/* Excersise reps styling */
.excersise_reps {
	width: 5%;
	height: 100%;

	float: left;
}

span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

#create_new_excersise_button {
	width: 100%;
	height: 50px;

	text-align: center;

	background-color: #0091EA;
}
