#countdown_timer {
	top: 40%;
	left: 40%;
	position: absolute;

	width: 20%;
	height: 20%;

	visibility: hidden;
	opacity: 0;

	box-shadow: 2px 2px 30px #888888;

	border-radius: 50%;

	z-index: 20;

	background-color: #FFFFFF;
}

#countdown_time {
	width: 100%;
	height: 100%;
	
	text-align: center;
	font-size: 7em;
}

#container {
	top: 0;
	left: 0;
	position: absolute;

	width: 100%;
	height: 80%;
}

#finished {
	width: 100%;
	height: 100%;

	text-align: center;
	font-size: 15em;
}

#home_button {
	text-decoration: none;
	color: black;
}

#excersises {
	width: 100%;
	height: 70%;
}

.excersise_container {
	left: 0;
	top: 0;
	position: fixed;

	width: 100%;
	height: 70%;

	background-color: #FFFFFF;
}

.excersise {
	width: 100%;
	height: 100%;
}

.excersise_name {
	width: 100%;
	height: 40%;

	text-align: center;

	font-size: 10em;
}

.excersise_diffculty {
	width: 200;
	height: 9%;

	margin-left: auto;
	margin-right: auto;
	
	text-align: center;

	font-size: 2.5em;
}

.excersise_diffculty_number {

	width: 150px;

	text-align: left;
	float: left;
}

.excersise_diffculty_units {
	width: 50px;
	text-align: center;
	float: left;
}

.excersise_sets {
	width: 100%;
	height: 20%;

	text-align: center;

	font-size: 5em;
}

.excersise_reps {
	width: 100%;
	height: 20%;

	text-align: center;

	font-size: 5em;
}

.excersise_reps_number {
	width: 45%;
	float: left;

	text-align: left;
}

.reps_title {
	width: 55%;
	float: left;

	text-align: right;
}

.excersise_encouragement {
	width: 100%;
	height: 10%;

	text-align: center;

	font-size: 2.5em;
}

#current_group_details {
	left: 0;
	top: 70%;
	position: fixed;

	width: 100%;;
	height: 10%;
}

.excersise_detail {
	height: 100%;
	width: 20%;

	float: left;

	text-align: center;
}

#controll_bar {
	left: 0;
	top: 80%;
	position: fixed;

	width: 100%;
	height: 20%;

	background-color: #EEEEEE;

	text-align: center;

	/*font-size: 5em;*/
}

#next {
	height: 60%;
	width: 100%;

	display: block;

	font-size: 2.5em;
}

#time_controll {
	height: 40%;
	width: 100%;

	font-size: 2em;
}

#start {
	width: 35%;
	height: 100%;	

	float: left; 
}

#stop { 
	width: 35%;
	height: 100%;

	float: left;
}

#reset {
	width: 10%;
	height: 100%;

	float: left;
}

#time {
	width: 20%;
	height: 100%;

	float: left;
}

span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
