#excersises {
	width: 100%;
	height: 80%;
}

.excersise_container {
	left: 0;
	top: 0;
	position: fixed;

	width: 100%;
	height: 80%;

	background-color: #FFFFFF;
}

.excersise {
	width: 100%;
	height: 100%;
}

.excersise_name {
	width: 100%;
	height: 40%;

	text-align: center;

	font-size: 10em;
}

.excersise_sets {
	width: 100%;
	height: 20%;

	text-align: center;

	font-size: 5em;
}

.excersise_reps {
	width: 100%;
	height: 20%;

	text-align: center;

	font-size: 5em;
}

.excersise_encouragement {
	width: 100%;
	height: 20%;

	text-align: center;

	font-size: 2.5em;
}

#controll_bar {
	left: 0;
	top: 80%;
	position: fixed;

	width: 100%;
	height: 20%;

	background-color: #EEEEEE;

	text-align: center;

	font-size: 5em;
}

#next {
	height: 100%;
	width: 100%;

	display: block;
}

span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
