body {
	background-color: #F5F5F5;
}

#container {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}


.column {
	width: 300px;
	height: auto;

	padding-left: 10px;
	padding-right: 10px;

	float: left;
}

#workouts {
	margin-top: 20px;
	width: 80%;

	margin-left: auto;
	margin-right: auto;

	margin-bottom: 100px;

	clear: both;
}

#buttons {
	height: 100%;
}

.workout {
	height: auto;
	width: 100%;

	margin-bottom: 30px;

	box-shadow: 1px 1px 20px #888888;
}

.workout_name {
	height: auto;
	width: 100%;

	padding-left: 15px;

	clear: both;

	font-size: 2.5em;
}

.workout_excersises {
	width: 100%;
	height: auto;

	font-size: 1em;
}

.buttons {
	height: 30px;
	width: 100%;	

	padding-left: 15px;

	background-color: rgba(255,255,255,0.2);
}

.button {
	display: block;

	color: black;
	text-decoration: none;
}

.workout_button {
	height: 100%;
	width: 22.5%;

	display: block;

	float: left;
}

.delete_button {
	height: 100%;
	width: 5%;
	
	float: left;
}

#create_workout_button {
	position: absolute;

	height: 50px;
	width: 50px;

	left: 40px;
	top: 320px;

	background-color: #DB4437;

	border-radius: 50%;

	z-index: 10;

	box-shadow: 1px 1px 20px #888888;

	display: block;
}	

span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}
