html {
}

#container {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

#signup_form {
	width: 45%;
	height: auto;

	min-width: 427px;

	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 7%;
	padding-top: 1%;
	padding-bottom: 70px;
}

#form_header {
	width: 80%;
	height: 50px;

	font-size: 2em;

	color: rgba(0,0,0,0.8);
}

#form {
	height: auto;
}

