html {
	background: url(../images/signin_form_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-mos-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#update_form {
	width: 45%;
	height: auto;

	min-width: 427;

	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 7%;
	padding-top: 1%;
}

#form_header {
	width: 80%;
	height: 50px;

	font-size: 2em;

	color: rgba(0,0,0,0.8);
}

#form {
	height: auto;
}
