#container {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: auto;

}

#form_box {
	text-align: center;

	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

	height: 170px;
	width: 45%;
}

#form {
	width: 100%;
	height: auto;

	padding-bottom: 30px;
	padding-left: 5%;

	text-align: left;
}
