#container {
	width: 90%;
	height: auto;

	margin-top: 150px;

	padding-left: 5%;
}

.title { 
	height: auto;
	width: auto;

	margin-top: 20px;
	margin-bottom: 20px;

	font-size: 3em;
	font-weight: bold;
}

#workout_stats {
	width: 100%;
	height: auto;
	
}

#stats {
	height: auto;
	width: auto;
}

.workout_stat {
	height: auto;
	width: 100%;
}

#excersise_stats {
	width: 100%;
	height: auto;
}

#excersises {
	width: 100%;
	height: auto;
}

.excersise {
	width: 200px;
	height: auto;

	float: left;

	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;

	padding-top: 20px;
	padding-bottom: 20px;

	text-align: center;

	background-color: #E0E0E0;

	box-shadow: 2px 2px 30px #888888;
}

.link {
	text-decoration: none;
}	

.excersise_color {
	width: 50px;
	height: 50px;

	margin-left: auto;
	margin-right: auto;

	margin-bottom: 20px;

	border-radius: 50%;	

	color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
}

.excersise_name {
	width: 100%;
	height: auto;

	font-weight: bold;

	padding-bottom: 10px;
}

.excersise_stats {
	width: 100%;
	height: auto;
}
