<%= stylesheet_link_tag "index_index.css" %>

<div id="container">

	<div class="title">
		Features
	</div>

	<div id="features">
		<div id="feature_1" class="feature">
			<div id="feature_icon_1" class="feature_icon">

			</div>

			<div id="feature_text_1" class="feature_text left">
				
				<div id="feature_text_title_1" class="feature_text_title">
					Unlimited Free Workouts
				</div>

				<div id="feature_text_desc_1" class="feature_text_desc">
					You can log an unlimited ammount of workouts for free
				</div>
			</div>
		</div>

		<div id="feature_2" class="feature">
			<div id="feature_icon_2" class="feature_icon">

			</div>

			<div id="feature_text_2" class="feature_text left">
				
				<div id="feature_text_title_2" class="feature_text_title">
					Free Workout Tracking
				</div>

				<div id="feature_text_desc_2" class="feature_text_desc">
					The cost of tracking workouts is nothing. You are able to track
					the progress in your workouts for free
				</div>
			</div>
		</div>

		<div id="feature_3" class="feature">
			<div id="feature_icon_3" class="feature_icon">

			</div>

			<div id="feature_text_3" class="feature_text right">
				
				<div id="feature_text_title_3" class="feature_text_title">
					Any Excersise You Can Think Of
				</div>

				<div id="feature_text_desc_3" class="feature_text_desc">
					Dosnt use preset excersises so you can track any excersise you want
					even the ones you made up
				</div>
			</div>
		</div>

		<div id="feature_4" class="feature">
			<div id="feature_icon_4" class="feature_icon">

			</div>

			<div id="feature_text_4" class="feature_text right">
				
				<div id="feature_text_title_4" class="feature_text_title">
					Simple Clean UI
				</div>

				<div id="feature_text_desc_4" class="feature_text_desc">
					The user interface is simple and clean, no unecessary clutter
				</div>
			</div>
		</div>
	</div>
</div>
