<div id="container">
	<div id="update_form">
		<%= form_tag(:action => "update") do %>
			<div id="email">
				<%= email_field_tag :email %>
			</div>

			<div id="password">
				<%= password_field_tag :password %>
			</div>

			<div id="submit_button">
				<%= submit_tag "Update Details" %>
			</div>
		<% end %>
	</div>
</div>
