<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "header.css" %>
<title>Workout Manager</title>
</head>
<body>

<div id="header">
		<div id="title"><span></span>LOGO</div>

		<div id="user">
			<div id="username">
				<span></span><%= session[:name] %>
			</div>
			<div id="buttons">
				<a id="logout_button" class="user_button" href="/access/logout">
					<span></span>L
				</a>
				<a id="update_button" class="user_button" href="/users/edit">
					<span></span>U
				</a>
			</div>
		</div>
	</div>

<%= yield %>

</body>
</html>
